<h1> User Add </h1>

<form
  class = userForm
  ngForm
  (submit)="onSubmit(); userForm.reset()"
  #userForm
>
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="name"
      [(ngModel)]="name"
      name="name"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="example@mail.com"
      [(ngModel)]="email"
      ngModel [email]="true"
      name="email"
      type="email"
      #emailInput="ngModel"
      required
    />
    <mat-error *ngIf="emailInput['invalid']">Invalid email</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      placeholder="password"
      [(ngModel)]="password"
      name="password"
      required
    />
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="occupation"
      [(ngModel)]="occupation"
      name="occupation"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="bio"
      [(ngModel)]="bio"
      name="bio"
      required
    />
  </mat-form-field>
  
  <button mat-flat-button color="accent" (Click)="onSubmit()" [disabled]="emailInput['invalid']">
    Submit
  </button>
  <a routerLink="/home" class="homeButton">
    <button mat-flat-button color="primary">Back to Users List</button>
  </a>
</form>